.loginForm {
  max-width: 420px;
  margin: 65px auto;
}
.loginForm .ant-form-item-row {
  display: flex;
  flex-direction: column;
}
.loginForm .ant-form-item .ant-form-item-label {
  text-align: start;
}
