.slider-up {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-x: auto;
}
.slider-up > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
